<div style="font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4;color:#111;">
  <div style="margin:0 0 8px 0;">
    Best regards,<br/>
    Marcus Lis-Olivebring<br/>
    <em style="color:#777;">Founder</em>
  </div>

  <div style="margin:0 0 10px 0;">
    <div>
      (m)
      <a href="mailto:dinmail@dindomän.se"
         style="color:#777;text-decoration:none;">
        dinmail@dindomän.se
      </a>
    </div>
  </div>

  <div style="margin-top:6px;">
    <img src="https://mailgeneratormlo.blob.core.windows.net/assests/icon_b2b-v1.png"
     alt="Logo" width="120"
     style="display:block;border:0;outline:none;">
  </div>
</div>
